
    <div class="organization">
      <div class="jumbotron section .first-hero" id="first-hero-org">
        <h1>Organization</h1>
      </div><!--first-hero-->
        
        
        
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" ng-click="scrollTo('board')">Board of Directors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" ng-click="scrollTo('staff')">Staff</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ng-click="scrollTo('start')">Start an ITN in your community</a>
          </li>
        </ul>
      
      
      <div class="section-container">
      <div class="container itn-green-bg">
      <section class="org-section" id="board">
        <h1>Board of Directors</h1>
        <div class="row mb-100">
          <div class="col-sm-4">
            <img ng-src="{{assetsPath}}/images/board/Nancy-Feichtl.jpg" alt="Dr. Nancy Feichtl Portrait"/>
            <h2>Dr. Nancy Feichtl</h2>
            <p class="title">President</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio1 = !showBoardBio1">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio1">
              <p>Was a school teacher, principal, district Director, author/founder /executive director of a charter school and taught English or Educational Administration courses at several universities. Throughout her life, she was a member or officer 20+ Executive Boards, including News Journal Advisory Board, DE Association of School Administrators, International Reading Association, National Council of Christians and Jews, etc. </p>
              <p>She is currently an active Board member of the Clear Space Theatre Company. She was a Presenter for World Future Society throughout MD & DE as well as nationally (San Francisco, Atlanta, Toronto, etc.)</p>
            </div>
          </div>
          
          <div class="col-sm-4">
            <img ng-src="{{assetsPath}}/images/board/kevinburdette.jpg" alt="Kevin Burdette portrait"/>
            <h2>Kevin Burdette</h2>
            <p class="title">Vice President</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio2 = !showBoardBio2">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio2">
              <p>Kevin E. Burdette has lived in Sussex County, Delaware since 1974, and since 1986 has lived east of Milton with his wife, Nancy. He has a Distance Learning Bachelor’s Degree in Civil Engineering and a Master’s in Business Administration, and has worked actively in the Well Drilling, Geo-technical, and Water Treatment and Supply industry for over 18 years and became a Partner and Principal in a very successful Mid-Atlantic Civil Engineering firm.<p>

              <p>Kevin is currently a semi-retired business consultant as well as an adjunct instructor for the Delaware Technical Community College Environmental Center. He desires to maintain a high Quality of Life for Sussex County residents including his children and grandchildren, and he believes in, "Respecting Our Heritage While Planning for the Future".</p>

              <p>Kevin’s mother lived with him and Nancy for the last years of her life and during that time, her desire to remain active and independent made the need for a service like ITN quite apparent to Kevin. He knows that with the substantial growth of the senior population in Sussex County, the mission of ITN Southern Delaware is critical now and will continue to be in the future. He has a strong commitment to improving the Quality of Life for all Sussex County residents by helping them remain healthy, active, and mobile.</p>
            </div>
          </div>
          
          <div class="col-sm-4">
            <img ng-src="{{assetsPath}}/images/board/Brook-Andrews.jpg" alt="Brook Andrews portrait"/>
            <h2>Brook Andrews</h2>
            <p class="title">Secretary</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio3 = !showBoardBio3">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio3">
              <p>Having completed a Bachelor of Fine Arts from Miami University (Ohio), extensive graduate coursework in Painting and Drawing from The American University, and a Master's Degree in Dance from The George Washington University, Mr. Andrews taught Drawing and Dance at the University level for seven years in California and Washington, D.C. From 1972 through 1985 he studied with and performed under professional choreographers in New York City and Washington, D.C. In 1986 he accepted a position with the Interrelated ARTS Program within the Montgomery County Maryland Public School System as a Dance and Art consultant to classroom teachers.</p>

              <p>In 1997, he relocated to Rehoboth Beach and in 2000 was hired as the Art teacher at the newly opened Sussex Academy of Arts and Sciences in Georgetown, Delaware. While there he completed graduate level coursework in Special Education at Wilmington University and became certified and highly-qualified in the field which allowed him to accept the school's position of Special Education Program Coordinator. His last year of teaching before retiring in 2007 was spent at Howard T. Ennis School in Georgetown, Delaware where he taught reading to secondary school students. He currently serves on the board of the Sussex Academy Foundation. He is active in local politics and volunteers time for the Sussex County Habitat for Humanity Organization.</p>
            </div>
          </div><!--col-sm-4-->

        </div><!--row-->
        
        
        <div class="row mb-100">
          <div class="col-sm-4">
            <img ng-src="{{assetsPath}}/images/board/Mary_Ann_Hoopes.jpg" alt="Mary Anne Hoopes portrait"/>
            <h2>Mary Anne Hoopes</h2>
            <p class="title">Board Member</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio4 = !showBoardBio4">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio4">
              <p>Mary Anne Hoopes is an attorney with over 30 years’ experience with the U.S. Department of Justice and other government agencies. Her practice focused on employment and administrative law, personnel security and legal ethics. Since moving to Lewes full-time in 2009, Mary Anne has been an active supporter of several local non-profit organizations, and is on the board of directors of Southern Delaware Therapeutic Riding.</p>
            </div>
          </div>
          
          <div class="col-sm-4">
            <img ng-src="{{assetsPath}}/images/board/Suzette.jpg" alt="Suzette Chagnon portrait"/>
            <h2>Suzette Chagnon</h2>
            <p class="title">Board Member</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio5 = !showBoardBio5">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio5">
              <p>Suzette Chagnon is a lifelong educator with experience in both private and public school administration. She has taught and served on nonprofit boards in the District of Columbia and Montgomery County, Maryland. Suzette graduated from Trinity University in Washington D.C. and earned an M.A. degree from the University of Maryland at College Park. Suzette is committed to extending opportunities and improving life for underserved and economically disadvantaged communities. She is excited to help build ITNSouthernDelaware’s capacity to bring improved mobility and independence to older adults and visually impaired adults in Southern Delaware.<p>
            </div>
          </div>
          
          <div class="col-sm-4">
            <img ng-src="{{assetsPath}}/images/board/Bob-Porta.jpg" alt="Robert Porta portrait"/>
            <h2>Robert C. Porta</h2>
            <p class="title">Emeritus Board Member</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio6 = !showBoardBio6">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio6">
              <p>Mr Porta retired in April 1969 after serving 43 years with The Bell Telephone Company of Pennsylvania, Bell Telephone Laboratories and it's post-divestiture fragment, Bell Communications Research, now known as Telcordia. His last employment position was as Distinguished Member of Technical Staff at Telcordia. Since retirement, Mr Porta has been involved in various volunteer capacities including Tax Preparation through AARP and Data Base management for Sussex County Habitat for Humanity Restore, He regularly conducts computer-related courses at OSHER Life Long Learning. Institute.</p>
            </div>
          </div><!--col-sm-4-->

        </div><!--row-->
        
        <div class="row mb-100">
          <div class="col-sm-4">
            <img ng-src="{{assetsPath}}/images/board/johanna.png" alt="Johanna Barbati portrait"/>
            <h2>Johanna Barbati</h2>
            <p class="title">Board Member</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio7 = !showBoardBio7">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio7">
              <p>Johanna is a retired Occupational Therapist, and a Fellow of the prestigious American Occupational Therapy Association. As a graduate of Ursinus College in Collegeville, PA, as well as University of Pennsylvania and Columbia University, both private Ivy League research universities, her career spanned both clinical and academic settings.</p> 
              <p>Johanna’s clinical work focused primarily on enhancing development in children, utilizing assessment and interventions to facilitate improved cognitive, physical, sensory, and motor skills and enhance their self-esteem and sense of accomplishment. </p> 
              <p>In addition to her work as a therapist, Johanna volunteered for over five years as a Court Appointed Special Advocate (CASA) for children in Sussex and Kent Counties of Delaware; supporting abused or neglected children to ensure that they could be safe, find a permanent home, and enjoy the opportunity to thrive. </p> 
              <p>Johanna is a recent past president of Ocean Waves Quilt Guild in Lewes, Delaware and an enthusiastic student at University of Delaware’s Osher Lifelong Learning Institute in Lewes, Delaware.</p> 
              <p>She became a member of ITN Southern Delaware, temporarily in need of transportation, and subsequently became a volunteer driver to support the needs of seniors and those with visual impairments in Southern Delaware. Because she continues to have a strong belief in community and providing support to those in need, Johanna was recruited and agreed to accept a seat on the ITN Southern Delaware Board of Directors.</p>
            </div>
          </div>
        </div><!--row-->
      </section>
      
      
      <section class="org-section" id="staff">
        <h1>Staff</h1>
        <div class="container">

          <div class="row mb-100">
            <div class="col-sm-4"></div>
            
            <div class="col-sm-4">
              <img ng-src="{{assetsPath}}/images/board/janis.jpg" alt="Janis Hanwell portrait"/>
              <h2>Janis Hanwell</h2>
              <p class="title"><strong>Executive Director</strong></p>
              <button type="button" class="btn btn-lg" ng-click="showBoardBio11 = !showBoardBio11">READ MORE</button>
              
              <div class="showBoardBio" ng-show="showBoardBio11">
                <p>Dr. Janis Hanwell spent 31 years in education as a special education teacher, principal, and school district level administrator. She was the project director for construction of the new local high school, and in 2010 retired as assistant superintendent from the Cape Henlopen School District in Sussex County Delaware.</p>
                <p>She has a background in Fine Arts, marketing, and graphic design, has helped several small business entrepreneurs market their start-ups, and is a certified aroma therapist, hypnotherapist, and light-touch massage practitioner. </p>
                <p>She has also done extensive volunteer construction work for the Appalachia Service Project and Habitat for Humanity and was the volunteer coordinator and site manager for Sussex County Habitat for Humanity’s 1st area Veteran’s Build. In addition, Dr. Hanwell volunteered as the construction site coordinator when ABC’s Extreme Makeover: Home Edition came to Southern Delaware to help the “Just Soup” Ministries continue to provide much needed services and supports to locals in need.</p>
                <p>Janis currently serves on the local school board association and has recently been appointed to the Delaware State School Board Association’s Board of Directors.</p>
                <p>She has been the Executive Director for ITN Southern Delaware since August 2015.</p>
                </p>
              </div>
            </div>

            <div class="col-sm-4"></div><!--marginright 7% on showBoardBio for this one>
          </div><!--row-->
    </div><!--container-->  
  </section>
            
    
      <section class="org-section" id="start">
        <img class="itn-icon" ng-src="{{assetsPath}}/images/icons/itn3.png" alt="ITN icon"/>
        <div class="jumbotron section copy itn-lightgreen-bg">
          <div class="row center-70">
            <div class="col-md-9 ta-center">
              <a class="start-itn" href="https//www.itnamerica.org">Start an ITN in your Community</a>
            </div>
            <div class="col-md-3 mt-25" style="overflow:hidden">
              <img id="flying-bird" ng-src="{{assetsPath}}/images/start-bird.jpg"/>
            </div>
            </div>
        </div><!--jumbo-->
          
        <div class="jumbotron section national">
            <div class="row">
              <div class="col-sm-9 wow fadeInUp" data-wow-duration="2s" style="background: rgba(255,255,255,0.6);">
                <!-- <h2>The Power of a National Network</h2> -->
                  <p>ITN<em>{{affiliate}}</em> is part of the ITN<em>America</em> family, which unites organizations across the country working to support the transportation needs of older people. The ITN<em>America</em> model offers a platform for dignified, sustainable mobility using technological solutions and innovative programming. We welcome your interest, and hope you will consider the benefits of having an ITN affiliate in your area.
                  To learn more, <a ui-sref="contact">contact us </a></p>
              </div><!--national-->
            </div><!--row-->
          </div><!--national-->
            
            <!-- <div class="jumbotron section technology">
            <div class="row">
              <div class="col-sm-offset-3 col-sm-9" style="background: rgba(255,255,255,0.6);">
                <h2>The Power of Technology</h2>
                <p>Our proprietary ITNRides™ software system enables us to leverage our expertise and to simplify operations for all our affiliates.</p>

                <p>It connects every ITN affiliate community into one effective centralized national network that manages the logistics of the senior transportation service, including member and volunteer management and ride scheduling.</p>

                <p>All ITN affiliates access the software through an internet connection and store their information at our secure data center. The collected data is used for a variety of purposes; including helping social researchers better understand senior mobility and its effects on society. ITN technology provides everything needed to deliver logistical efficiency to a very complex problem.</p>

                <p>ITN is quickly linking cities and citizens across the country and that's just the beginning. Soon, ITN will grow beyond the cities and suburbs to the small towns and rural communities where the unmet need is so great. Our goal is to provide the expertise, tools and state-of-the-art technology that will allow small organizations to serve more and more people without additional resources or funds. We call this project ITNEverywhere</p>
              </div>
            </div>
        </div> -->
          </section>

    
      </div><!--lightgreen div-->
    </div><!--organization-->

    <script>
    new WOW().init();
    </script>

